<link href ='app/assets/stylesheets/aboutme.scss' type='text/css' rel='stylesheet'>
<div class="name">     
    <img width='300px' height='300px' src= 'https://cdn.filestackcontent.com/AchUBPpbtR12UdA8r3ilwz/security=policy:eyJleHBpcnkiOjIyNDE3MzU4MTksImNhbGwiOlsicmVhZCIsImNvbnZlcnQiXSwiaGFuZGxlIjoiWHg5N2dVT1BSSXFjanJvWkZJcHgifQ==,signature:87dd7e34f59faed2f03dc50d44bfff58f2bce4dfc2de26718cadd7fdc7610e1a/cache=expiry:max/resize=w:600,h:600,fit:crop,align:faces/rotate=d:exif/Xx97gUOPRIqcjroZFIpx '/> 
    <h1>Eoin McDonough     </h1>  
    <img width='300px' height='300px' src= 'https://avatars.githubusercontent.com/u/48068135?s=400&u=403c719fa52e4fac8c62a52b920ed07e6dde4b7c&v=4'/>  
</div>
<div class="divider">
    <p>Welcome to my page!!</p>
</div>
<div class='main'>
    <div class='media'>
        
         <div class ='languages'>
        <h2>Languages I have used</h2>
        <ul>
            <li>HTML?</li>
            <li>CSS?</li>
            <li>Java</li>
            <li>Ruby</li>
            <li>C++</li>
            <li>Gamemaker Language</li>
        </ul>
        <table class = "table">
            <h2>Projects I have worken on</h2>
            <thead class = "head">
                <tr>
                    <th> College </th>
                    <th> Personal </th>
                    <th> Work </th>
                </tr>
            </thead>
            <tbody class ="body">
                <tr>
                    <td>Alpha Adventure<br> Dungeon Game</td>
                    <td>Elemental Game <br> Gamemaker</td>
                    <td>Blogging Engine</th>
                </tr>
                <tr>
                    <td>Pacman AI</td>
                    <td id= 'skip'></td>
                    <td>This page :D</td>
                </tr>
                <tr>
                    <td>Mapchat</td>

                </tr>
            </tbody>
        </table>
    </div>
        <div>
            <h2>What I do</h2>
            <iframe src="https://giphy.com/embed/o0vwzuFwCGAFO" width="480" height="480" ></iframe>
            
        </div>
    </div>
    <div class = 'signup'>
        <p>Sign up for the newsletter!</p>
    </div>
    <div class = "form">  
        <form>
            <label>Name</label>
            <input type="text"name="Name">
            <label>Email</label>
            <input type="email"name="Email">
            <input type="submit"name="Name">
        </form>
    </div>
    <div class='footer'>
        <a href='https://www.linkedin.com/in/eoin-mcdonough-a2a3921b8/' target="_blank">LinkedIn</a>
        <a href='https://wpengine.pingboard.com/users/7597031' target="_blank">Pingboard</a>
        <a href="https://github.com/EoinMcD" target='_blank'> Github</a>
   
</div>