.loginform {
  width: 365px;
  height: 400px;
  background-color: sandybrown;
  text-align: center;
  margin: 100px;
  box-shadow: 2px 5px #3d3c32e0;

  padding: 50px;
  border-radius: 50px;
  label {
    text-align: center;
    font-size: 30px;
    margin: 5px;
  }
  input {
    font-size: 30px;
    margin: 5px;
  }
  button {
    font-size: 20px;
    width: 100px;
    height: 50px;
  }
  h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 50px;
    margin-top: -25px;
  }
  h3 {
    margin-top: -20px;
    color: #e6e2d3;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
.loginmain {
  display: flex;
  justify-content: center;
}
